html {
    background-color: #FBEEC8;
    background-image: url("owl.png");
}

body {
    text-align: center;
}
#list {
    text-align: left;
}
h1 {
    font-size: 300%;
    font-weight: bold;
    color: red;
    padding: 0px;
    margin: 0px;
}

.button {
    text-align: center;
    width: 10%;
    border-radius: 20px;
    background-color: rgba(255, 119, 100, 0.3);
    color: rgb(0, 0, 5);
    position: relative;
    left: 200px;
}